<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все автомобили</title>
</head>
<body>
<div>
    <h1>Список автомобилей</h1>
    <table>
        <thead>
        <tr>
            <th>Модель</th>
            <th>Цвет</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.model}">...</td>
            <td th:text="${car.color}">...</td>
            <td th:text="${car.price}">...</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>